{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
